<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda angular python</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div>
        <a href="admin/">Acceder a administracion</a>
    </div>
    <div>parte publica parte cliente</div>
    Bienvenido a la tienda con Python y flask
    esta parte cliente estará hecha con angular
</body>
</html>